
/*------------------------------------------------------------------------
    Mes commentaires :                  
    ----------------------------------------------------------------------
    gap : espace entre les elements
    block : met chaque élément l’un sous l’autre
    inline : ne marche pas bien pour les grands blocs
    grid : est plutôt pour des mises en page plus complexes
    flex : transforme le conteneur en ligne par défaut, super responsive
    justify-content: flex-start → tout collé à gauche
    justify-content: flex-end → tout collé à droite
    justify-content: center → tout au centre
    justify-content: space-around → espaces egal autour 
    justify-content: space-between → espaces extrémités L R 
    align-items : center, flex-start, flex-end. 
    Différence entre justify et align :
        → justify-content = aligne sur l’axe principal
            → l’axe principal est horizontal  
            → justify-content = aligne à gauche / centre horiz / droite etc.
        → align-items = aligne sur l’axe secondaire
            → l’axe principal est horizontal  
            → justify-content = aligne en haut / centré verti / en bas
    -----------------------------------------------------------------------
    Raccourcis : 
    -----------------------------------------------------------------------
    Word Wrap : option+Z
    Fermer page : cmd+w
    -----------------------------------------------------------------------
    Sémentiques que j'oublie : 
    -----------------------------------------------------------------------
    display devant flex etc. : display:flex;
    padding: 0 1px : 
        Pour : 
            0 = padding en haut ET en bas
            16px = padding à gauche ET à droite
            padding: [vertical] [horizontal];
    
     -----------------------------------------------------------------------*/

/* Polices */

@font-face {
  font-family: "Hanken Grotesk";
  src: url("../fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("../fonts/HankenGrotesk-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Serif";
  src: url("../fonts/roboto-serif-latin-400-normal.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Serif";
  src: url("../fonts/roboto-serif-latin-400-italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* Acceuil - Style */

.header-logo img {
    height:48px;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5b8e7d;
    padding: 0 16px; 

}

.header-nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-nav a {
  color: #211f1b;
  font-family: "Roboto Serif";
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  line-height: 1.5;
}

